<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a class="cus-cur-pointer" routerLink="/recipes" >Recipe</a></li>
                <li routerLinkActive="active"><a class="cus-cur-pointer" routerLink="/shopping-list">Shopping List</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a class="cus-cur-pointer" routerLink="/auth">Authentication</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="cus-cur-pointer" *ngIf="isAuthenticated"><a class="dropdown-toggle" (click)="onLogout()">Logout</a></li>
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle cus-cur-pointer" >Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu cus-cur-pointer">
                        <li><a (click)="onSaveRecipe()">Save Data</a></li>
                        <li><a (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
                <li>
                    <!-- <app-clock></app-clock> -->
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                
            </div>
        </div>
    </div>
</nav>