<div class="row">
    <div class="col-xs-12">
        <img 
        [src]="recipeDetails.imagePath" 
        alt="{{recipeDetails.name}}" 
        class="img-responsive"
        style="height: 500px;width: 500px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipeDetails.name}}</h1>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
           <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" >
            <li><a (click)="addToSoppingList()" class="cus-cur-pointer">To shopping list</a></li>
            <li><a (click)="editRecipe()" class="cus-cur-pointer">Edit recipe</a></li>
            <li><a (click)="deleteRecipe()" class="cus-cur-pointer">Delete Recipe</a></li>
           </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Description:{{recipeDetails.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group" *ngFor="let ingridient of recipeDetails.ingridients" >
            <li class="list-group-item">{{ingridient.name}} - {{ingridient.amount}}</li>
        </ul>
    </div>
</div>